body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #6b6b69;
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 15px;
  width: 300px;
}

button {
  padding: 10px;
  cursor: pointer;
}

pre {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  white-space: pre-wrap;
}
